<html data-theme="light">
  <head>
    <title>create | draft | tumultes</title>

    <meta charset="utf8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css" />
  </head>

  <body class="draft create">
    <main class="container-fluid">
        <article>
        <nav>
          <ul>
            <li>
              <h1><a href="https://tumultes.incongru.org">Tumultes</a> &gt; Nouveau</h1>
              </li>
              </ul>
              </nav>
              </article>
        <article>
            <form method="post" action="">
            <fieldset>
                <label>
                Titre
                <input
                    name="title"
                    placeholder="Intitulé du tumulte à venir"
                    autocomplete="title"
                    aria-label="Title"
                    aria-describedby="title-helper"
                    required
                />
                <small id="title-helper">Rien de définitif, ça peut changer en cours de route.</small>
                </label>
                <label>
                Email
                <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    autocomplete="email"
                    aria-label="Email"
                    aria-describedby="email-helper"
                    required
                />
                <small id="email-helper">Pour être prévenux quand c'est prêt :)</small>
                </label>
            </fieldset>

            <input
                type="submit"
                value="GO!"
            />
            </form>
        </article>
    </main>
  </body>
</html>