<html data-theme="light">
  <head>
    <title>{{ group }} | drafts | tumultes</title>

    <meta charset="utf8">
<!-- Load handlebars -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
<!-- Load just-handlebar-helpers -->
<script src="https://unpkg.com/just-handlebars-helpers@1.0.19/dist/h.min.js"></script>

<script type="text/javascript">
  // Register just-handlebars-helpers with handlebars
  H.registerHelpers(Handlebars);
</script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css" />
  </head>

  <body class="draft create">
    <header>
      <article>
        <nav>
          <ul>
            <li>
              <h1><a href="https://tumultes.incongru.org">Tumultes</a> &gt; Brouillons</h1>
            </li>
          </ul>
        </nav>
      </article>

    </header>

    <main class="container-fluid">

      <article class="grid">

        {{#each drafts}}
        <article>
          <header><strong>{{ @index }} : {{ name }}</strong></header>
          <footer>{{ lastModified }}</footer>
        </article>

        {{#if (eq @index 5)}}
      </article>
      <article class="grid">
        {{/if}}
        {{/each}}
    </main>

  </body>
</html>