<html data-theme="light">
  <head>
    <title>{{ group }} | drafts | tumultes</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css" />
  </head>

  <body class="draft list">
    <header>
      <article>
        <nav>
          <ul>
            <li>
              <h1><a href="https://tumultes.incongru.org">Tumultes</a> &gt; Brouillons</h1>
            </li>
          </ul>
        </nav>
      </article>

    </header>

    <main class="container-fluid">
      {{#each tumultes}}
      <article>
        <header>
          <strong>{{ .tumulte.title }}</strong>
        </header>
      </article>
      {{/each}}
    </main>

  </body>
</html>