<html data-theme="light">
  <head>
    <title>{{ tumute.group }} | drafts | tumultes</title>

    <meta charset="utf8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css" />

  </head>

  <body class="draft list">
    <header>
      <h1>{{ tumulte.group }}</h1>
    </header>

    <main class="container-fluid">
      <h1>Mes brouillons</h1>
    </main>

  </body>
</html>